html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  font-size: inherit;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  color: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  background-color: #e5e5e5;
  color: #818181;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main {
  flex: 1;
}

.container {
  max-width: 1290px;
  margin: 0 auto;
  padding: 0 15px;
}

.error {
  display: block;
  margin-top: 5px;
  color: #ff0000;
  font-size: 12px;
  line-height: 16px;
}

.react-simple-star-rating {
  .empty-icons,
  .filled-icons {
    display: inline-block;
    & > svg {
      &:not(:last-child) {
        margin-right: 5px;
      }
    }
  }
}
