.social {
}
.title {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #000;
  margin-bottom: 30px;
}
.list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.item {
  display: flex;
  align-items: center;
  & > svg {
    margin-right: 12px;
  }
  &:not(:last-child) {
    margin-right: 70px;
  }
}

.whatsApp {
  color: #4ed184;
  width: 28px;
  height: 28px;
}
.viber {
  color: #8e24aa;
}
.messanger {
  color: #008dfe;
}
.telegram {
  color: #20b3ff;
}
